@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF;
  --foreground: var(--color-primary);
  --color-primary: #374151;
  --color-blue: #3533CC;
  --color-gold: #A68B2C;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff; */
    /* --shadow-light: 0px 12px 36px rgba(0, 0, 0, 0.18);
    --shadow-dark: 0px 12px 36px rgba(255, 255, 255, 0.06); */
  /* }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

/* Custom box shadows */
.shadow-light {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
  /* Shadow that works on a light background */
}

.shadow-dark {
  box-shadow: 0px 6px 14px rgba(255, 255, 255, 0.15);
  /* Shadow that works on a dark background */
}

/* ignore css error warnings for this, as tailwind knows
 to only apply the necessary styles and not all of them at once*/
@layer utilities {
  .force-tailwind-grid {
    @apply grid-cols-1 grid-cols-2 grid-cols-3 grid-cols-4 grid-cols-5 grid-cols-6;
    @apply sm:grid-cols-1 sm:grid-cols-2 sm:grid-cols-3 sm:grid-cols-4 sm:grid-cols-5 sm:grid-cols-6;
    @apply md:grid-cols-1 md:grid-cols-2 md:grid-cols-3 md:grid-cols-4 md:grid-cols-5 md:grid-cols-6;
    @apply lg:grid-cols-1 lg:grid-cols-2 lg:grid-cols-3 lg:grid-cols-4 lg:grid-cols-5 lg:grid-cols-6;
    @apply xl:grid-cols-1 xl:grid-cols-2 xl:grid-cols-3 xl:grid-cols-4 xl:grid-cols-5 xl:grid-cols-6;
  }
}
